@use '../base/variables' as v;
@use '../base/mixins' as m;

nav {
  background-color: lighten(black, 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0 1.5rem 0;

  .logo {
    a {
      margin: 0 5rem 0 0;
      color: v.$blanco;
      font-size: 3rem;
      text-transform: uppercase;

      &:hover {
        color: darkred;
        cursor: pointer;
      }
    }
  }

  .navegacion {
    a {
      color: v.$blanco;

      &:hover {
        color: darkred;
        cursor: pointer;
      }
    }

    ul {
      list-style: none;
      display: flex;
      gap: 2rem;
      font-size: 2rem;
    }
  }

  @include m.max-desktop {
    display: grid;
    grid-template-columns: 100%;
    .logo {
      grid-row: 1/2;
      text-align: center;

      a {
        margin: 0;

      }
    }
  }

  @media screen and (max-width: 698px) {
    .navegacion {
      ul {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}

.contenido {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 5rem;

  .contenido-superior {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;

    @include m.min-desktop{
      grid-template-columns: repeat(3,1fr);
    }
  }

  .contenido-central {
    display: grid;
    margin-bottom: 4rem;
  }
}
